<% provide(:title, "HOME") %>
<div class="sales_point">
	<h2>今すぐブログを始められます!</h2>
	<p>簡単なプロフィールを入力するだけで今すぐブログを始められます</p>
</div>
<div class="sales_point">
	<h2>無料で始められます!!</h2>
	<p>基本無料で始められます&nbsp;＊一部有料コンテンツあり</p>
</div>
<div class="btn"><%= link_to "早速BLOG作成", sign_up_path %></div>
